{{- define "content" -}}
			{{ template "dbError" . }}

			<div id="dbForm">
				<h2>Create a new password link</h2>

				<form method="post">
					<div class="boxButton">
						<input
								type="text"
								name="secret"
								id="secret"
								placeholder="Enter password"
								autocomplete="off"
								autofocus>
						<button
								id="submitToDB"
								type="submit"
								name="action"
								value="link">
							Submit
						</button>
					</div>
				</form>

				<h2>Important Information</h2>

				<ul>
					<li>Use good, strong passwords</li>
					<li>
						If you send someone a password, make sure only they
						receive it.
					</li>
					<li>Do not send the same password more than once!</li>
					<li>
						If your user tells you the password was not there,
						<strong>make them a NEW password</strong>.
					</li>
				</ul>
			</div>
{{- end -}}
