{{- define "content" -}}
			<h2>Password</h2>

			<div class="boxButton">
				<input name="secret" id="secret" readonly="true" value="{{ .TemplateVariables.Secret }}" />

				<button id="copy">Copy</button>
			</div>

			<h2>I have the password, now what?</h2>

			<p>
				Add it to your <a href="https://keepassxc.org/">password manager</a>!
				Or memorize it... because once you leave this page, you will
				not be able to retrieve the password from here again!
			</p>

			<p>
				Test using it on the system it was created for.
				If you do not know what it is for, check your e-mail for a
				notification.
			</p>

			<p>
				If the system it is intended for supports it, you are strongly
				urged to change the password yourself as soon as possible.
			</p>
{{- end -}}
